* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    font-style: none;
}
body{
    
    background-color: yellow;
    padding-top: 45px;
}

@myColor:#006699;
#header {
    top: 0;
    left: 0;
    height: 45px;
    position: fixed;
    width: 100%;
    background-color: @myColor;
    > h4 {
        color:#fff;
        margin: 0;
        text-align: center;
        line-height: 45px;
    }
    .fa-search {
        position: absolute;
        right: 15px;
        font-size: 18px;
        top: 15px;
        color: #fff;
    }
}
#slide {
    img {
        width: 100%;
    
    }
}